
# Fichiers d'outillage du depot, exclus de l'archive produite par git archive :
# c'est elle que le workflow de release empaquette et qui part chez le client.
/.github                  export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/.tx                      export-ignore
/.phan                    export-ignore
/dev                      export-ignore
